<% @products.each do |product| %>
  <div class="row padded js-product-row">
    <div class="col-md-2">
      <%= image_tag product.picture.url(:medium) %>
    </div>
    <div class="col-md-offset-2 col-md-3">
      <h3><%= product.description %></h3>
    </div>
    <div class="col-md-offset-1 col-md-3">
      <div class="row">
        <div class="col-xs-6">
         <strong><%= product.price %> euros</strong>
        </div>
        <div class="col-xs-6">
           <em><%= product.weight %> kg</em>
        </div>
      </div>
      <div class="row marged-top">
        <div class="col-xs-offset-4 col-xs-6">
          <strong><%= link_to "En savoir plus", product_path(product) %></strong>
        </div>
      </div>
    </div>
  </div>
<% end -%>

